﻿@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Palindromtest</title>
</head>
<body>
    <form action="/home/index" method="post">
        Bitte geben Sie den zu testenden Text ein:<br/>
        <input type="text" id="eingabe" name="eingabe" size="20" maxlength="100" required/>
        <input type="submit" />
        <input type="text" id="ergebnistext" size="20" maxlength="100" value=@Model />
    </form>
</body>
</html>
